<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsyncVoid" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vm48bb01.org48aa.loc/ProductServices/ProcessInventoryUpdate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid"
                contract="ProductServices.ProcessInventoryUpdate" name="BasicHttpBinding_ITwoWayAsyncVoid" />
        </client>
    </system.serviceModel>
</configuration>